//dont deploy scss
@import 'mixins';
@import 'utils';
@import 'buttons';

//Base style
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: $second-color;
    font-family: $font-open;
    line-height: 1.6;
  }
  
  img {
    width: 100%;
    border-radius: 50%;
  }
  
  a {
    text-decoration: none;
  }
  
  .showcase {
    height: 600px;
    @include set-background($bg-color);
    
  
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      ul {
        display: flex;
        list-style-type: none;
      }
  
      li {
        padding: 15px;
      }
  
      a {
        color: set-text-color($bg-color);
      }
  
      a:hover {
        color: $link-color;
      }
    }
  
    &-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  
      img {
        width: 50%;
      }
  
      h1 {
        font-size: 50px;
        line-height: 1.2;
        margin: 10px;
      }
    }
  }

@import 'mobile';
